html {
    height: 100%;
    background: honeydew;
}

body {
    background-color: honeydew !important;
    font-family: "Roboto", sans-serif !important;
}

.table thead th, .form-control {
    background: #fff;
    border: 2px solid #eceeef;
}

button.btn.btn-default {
    background: MediumSlateBlue;
    color: #fff;
}

.title {
    margin: 20px 0 0;
}

/* center chart tables */
td, th {
    vertical-align: middle !important;
    text-align: center !important;       
}

.input-group {
    margin: 20px 0;
}

svg {
    height: 150px;
}

/* google maps */
td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 250px;
}